* {
    box-sizing: border-box;
}

#page-footer{
    background-color: #78c2ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1 rem;
    text-align: center;
}

#github-link {
    color: white;
    text-decoration: none;
}