* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-footer{
    margin-top: auto;
    background-color: #78c2ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

#github-link {
    color: white;
    text-decoration: none;
}