* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 4.063rem;
}

#main-container, #about-container {
    overflow: hidden;
}

#navbar a:hover {
    color: #e83e8c;
}

.jumbotron {
    border-radius: 1rem;
    padding: 1%;
    background-color: #e9ecef;
    text-align: center;
}

#body-content {
    background-color: #fff;
}

#download-btn, #date-btn {
    text-align: center;
    border-radius: .40rem;
    padding: .75rem 1.875rem;
    display: block;
    margin: 1% auto;
    width: fit-content;
}

#download-btn:hover, #date-btn:hover {
    transform: scale(1.1);
    background-color: #e9ecef;
    color: black;
}

#page-footer{
    font-size: 1 rem;
    text-align: center;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    overflow: hidden;
    margin:0;
}

#github-link {
    color: #e9ecef;
    text-decoration: none;
}

#github-link:hover {
    color: #e83e8c;
}